.Palette {
  width: 100vw;
  height: 100vh;
}

.Palette-colours {
  height: 90%;
}

.slider-wrapper {
  width: 20em;
  margin: 0 10px;
  display: inline-block;
}

.rc-slider-track {
  background-color: transparent;
  outline: none;
}

.rc-slider-rail {
  height: 8px;
  background-color: lightgray;
}

.rc-slider-handle {
  height: 1em;
  width: 1em;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:hover,
.rc-slider-handle:focus {
  background-color: darkgreen;
  outline: none;
  border: 2px solid darkgreen;
  box-shadow: none;
}
